Start with:
Data Check
Data cleansing
Verification that everything is proper

Analysis to do:
Country Analysis - Which country uses the most. BY $ amount and quantity
Product  Analytics  - Top products per country  
Price Analytics - By Month/Country
What sells the most, What is returned the most
Monthly ratio of successful sold to cancelled
Distribution between cancelled and successful invoice
Analysis of invoice by hourly distribution
Who are our top customers? By unit price, by quantity etc. Understand their needs and if data is skewed because of them eg. Big companies making big orders on a given product. (Might not mean it is favored by everyone). Basically check uniqueness in customer for given product.

In [48]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import random
import os
import glob

%matplotlib inline
# Make plots larger
plt.rcParams['figure.figsize'] = (15, 9)

In [49]:
ds = pd.read_excel("data_science_analytics_2018_data.xlsx")
#Save Orignal Data

In [50]:
ds.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
1,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
2,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
3,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
4,C581490,22178,VICTORIAN GLASS HANGING T-LIGHT,-12,2011-12-09 09:57:00,1.95,14397.0,United Kingdom

In [51]:
cpy =ds

In [52]:
ds.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [53]:
ds.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [54]:
ds.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

ds.dropna(axis =0, subset=['CustomerID'],inplace=True)

In [55]:
ds.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [73]:
ds_top=ds[ds['InvoiceNo'].str.contains("C|c")==False]
ds_top.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,StockCode_total
9288,A563187,B,Adjust bad debt,1,2011-08-12 14:52:00,-11062.06,NaN,United Kingdom,-11062.06
9289,A563186,B,Adjust bad debt,1,2011-08-12 14:51:00,-11062.06,NaN,United Kingdom,-11062.06
9290,A563185,B,Adjust bad debt,1,2011-08-12 14:50:00,11062.06,NaN,United Kingdom,11062.06

In [57]:
ds['InvoiceNo'].dtypes

dtype('O')

In [58]:
ds['StockCode'].value_counts()

85123A      2313
22423       2203
85099B      2159
47566       1727
20725       1639
84879       1502
22720       1477
22197       1476
21212       1385
20727       1350
22383       1348
22457       1280
23203       1267
POST        1256
22386       1251
22469       1239
22960       1229
21931       1214
22086       1210
22411       1202
20728       1197
22382       1192
22961       1182
22666       1180
23298       1179
22699       1138
22384       1137
23209       1135
82482       1129
22993       1111
            ...
85023C         1
21923          1
84875A         1
46037A         1
85036a         1
21858          1
21854          1
84964B         1
84966A         1
72038P         1
84876C         1
37477B         1
85160a         1
22275          1
78027          1
DCGS0074       1
44242A         1
79323GR        1
84661b         1
51014c         1
22143          1
72800F         1
37477D         1
DCGS0073       1
79320          1
79341          1
84031a         1
10123G         1
79323G         1
21805          1
Name: StockCode, Length: 4070, dtype: int64

In [59]:
ds['StockCode_total'] = ds['Quantity'] * ds['UnitPrice']

In [60]:
ds.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,StockCode_total
0,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom,-6.25
1,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom,-1.25
2,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom,-54.75
3,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom,-224.69
4,C581490,22178,VICTORIAN GLASS HANGING T-LIGHT,-12,2011-12-09 09:57:00,1.95,14397.0,United Kingdom,-23.40

In [61]:
ds.groupby(['StockCode'])[["StockCode_total"]].sum()

              StockCode_total
StockCode
10002                 759.890
10080                 119.090
10120                  40.530
10125                 994.840
10133                1540.020
10134                   0.000
10135                2206.140
11001                2152.390
15030                  41.470
15034                 731.730
15036               18064.160
15039                1957.390
16008                 360.710
16010                   3.600
16011                 372.330
16012                 261.240
16014                4335.760
16015                 289.980
16016                1053.450
16033                 100.800
16043                  11.760
16045                 380.000
16046                  57.800
16048                 205.420
16049                  82.080
16052                 115.300
16053                   0.000
16054                 127.560
16216                 234.000
16218                 283.310
...                       ...
C2                   6986.000
CRUK                -7933.430
D                   -5696.220
DCGS0003                9.940
DCGS0004               16.630
DCGS0055                0.000
DCGS0057                0.000
DCGS0066P               0.000
DCGS0067                0.000
DCGS0068                0.000
DCGS0069               15.790
DCGS0070               12.720
DCGS0071                0.000
DCGS0072                0.000
DCGS0073                0.000
DCGS0074                0.000
DCGS0076               48.390
DCGSSBOY              150.550
DCGSSGIRL             144.430
DOT                206245.480
M                  -68674.190
PADS                    0.003
POST                66230.640
S                   -3049.390
gift_0001_10           74.970
gift_0001_20          167.050
gift_0001_30          175.530
gift_0001_40          100.700
gift_0001_50          167.560
m                       2.550

[4070 rows x 1 columns]

In [62]:
ref = ds.sort_values(['StockCode_total'],ascending=[0])

In [63]:
ref

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,StockCode_total
10771,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,168469.60
481328,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.60
323242,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098.0,United Kingdom,38970.00
527069,537632,AMAZONFEE,AMAZON FEE,1,2010-12-07 15:08:00,13541.33,NaN,United Kingdom,13541.33
9290,A563185,B,Adjust bad debt,1,2011-08-12 14:50:00,11062.06,NaN,United Kingdom,11062.06
371728,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029.0,United Kingdom,8142.75
199841,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450.0,United Kingdom,7144.72
490156,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749.0,United Kingdom,6539.40
384332,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749.0,United Kingdom,6539.40
128077,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646.0,Netherlands,4992.00
490158,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749.0,United Kingdom,4921.50
82484,576365,22086,PAPER CHAIN KIT 50'S CHRISTMAS,688,2011-11-14 17:55:00,6.95,NaN,United Kingdom,4781.60
384336,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749.0,United Kingdom,4632.00
490095,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749.0,United Kingdom,4522.50
249792,562955,DOT,DOTCOM POSTAGE,1,2011-08-11 10:14:00,4505.17,NaN,United Kingdom,4505.17
301981,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949.0,United Kingdom,4401.00
278712,560373,M,Manual,1,2011-07-18 12:30:00,4287.63,NaN,United Kingdom,4287.63
384334,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749.0,United Kingdom,4254.50
255985,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931.0,United Kingdom,4176.00
127325,573080,M,Manual,1,2011-10-27 14:20:00,4161.06,12536.0,France,4161.06
127349,573077,M,Manual,1,2011-10-27 14:13:00,4161.06,12536.0,France,4161.06
490707,540689,22470,HEART OF WICKER LARGE,1284,2011-01-11 08:43:00,3.21,17450.0,United Kingdom,4121.64
143011,571751,M,Manual,1,2011-10-19 11:18:00,3949.32,12744.0,Singapore,3949.32
17290,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,2011-12-07 12:20:00,2.75,15195.0,United Kingdom,3861.00
525650,537659,21623,VINTAGE UNION JACK MEMOBOARD,600,2010-12-07 16:43:00,6.38,18102.0,United Kingdom,3828.00
199840,567423,23113,PANTRY CHOPPING BOARD,756,2011-09-20 11:05:00,5.06,17450.0,United Kingdom,3825.36
522296,537899,22328,ROUND SNACK BOXES SET OF 4 FRUITS,1488,2010-12-09 10:44:00,2.55,12755.0,Japan,3794.40
490157,540815,21175,GIN + TONIC DIET METAL SIGN,2000,2011-01-11 12:55:00,1.85,15749.0,United Kingdom,3700.00
39337,579498,23084,RABBIT NIGHT LIGHT,2040,2011-11-29 15:52:00,1.79,12798.0,Japan,3651.60
199836,567423,22722,SET OF 6 SPICE TINS PANTRY DESIGN,852,2011-09-20 11:05:00,4.25,17450.0,United Kingdom,3621.00
...,...,...,...,...,...,...,...,...,...
7450,C544587,AMAZONFEE,AMAZON FEE,-1,2011-02-21 15:07:00,5575.28,NaN,United Kingdom,-5575.28
7020,C546987,AMAZONFEE,AMAZON FEE,-1,2011-03-18 12:56:00,5693.05,NaN,United Kingdom,-5693.05
4944,C558036,AMAZONFEE,AMAZON FEE,-1,2011-06-24 12:31:00,5791.18,NaN,United Kingdom,-5791.18
5864,C553354,AMAZONFEE,AMAZON FEE,-1,2011-05-16 13:54:00,5876.40,NaN,United Kingdom,-5876.40
1199,C574897,AMAZONFEE,AMAZON FEE,-1,2011-11-07 15:03:00,5877.18,NaN,United Kingdom,-5877.18
1438,C573549,AMAZONFEE,AMAZON FEE,-1,2011-10-31 13:23:00,5942.57,NaN,United Kingdom,-5942.57
2295,C570025,AMAZONFEE,AMAZON FEE,-1,2011-10-07 10:29:00,5942.57,NaN,United Kingdom,-5942.57
4549,C559917,AMAZONFEE,AMAZON FEE,-1,2011-07-13 15:21:00,6497.47,NaN,United Kingdom,-6497.47
6318,C550456,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,-3114,2011-04-18 13:08:00,2.10,15749.0,United Kingdom,-6539.40
3635,C564341,AMAZONFEE,AMAZON FEE,-1,2011-08-24 14:53:00,6662.51,NaN,United Kingdom,-6662.51
9106,C537652,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:51:00,6706.71,NaN,United Kingdom,-6706.71
4098,C562086,AMAZONFEE,AMAZON FEE,-1,2011-08-02 12:27:00,6721.37,NaN,United Kingdom,-6721.37
6085,C551699,M,Manual,-1,2011-05-03 14:12:00,6930.00,16029.0,United Kingdom,-6930.00
5863,C553355,AMAZONFEE,AMAZON FEE,-1,2011-05-16 13:58:00,7006.83,NaN,United Kingdom,-7006.83
3132,C566899,AMAZONFEE,AMAZON FEE,-1,2011-09-15 13:53:00,7427.97,NaN,United Kingdom,-7427.97
6086,C551685,POST,POSTAGE,-1,2011-05-03 12:51:00,8142.75,16029.0,United Kingdom,-8142.75
1197,C574902,AMAZONFEE,AMAZON FEE,-1,2011-11-07 15:21:00,8286.22,NaN,United Kingdom,-8286.22
1498,C573079,M,Manual,-2,2011-10-27 14:15:00,4161.06,12536.0,France,-8322.12
9289,A563186,B,Adjust bad debt,1,2011-08-12 14:51:00,-11062.06,NaN,United Kingdom,-11062.06
9288,A563187,B,Adjust bad debt,1,2011-08-12 14:52:00,-11062.06,NaN,United Kingdom,-11062.06
226,C580604,AMAZONFEE,AMAZON FEE,-1,2011-12-05 11:35:00,11586.50,NaN,United Kingdom,-11586.50
9109,C537644,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:34:00,13474.79,NaN,United Kingdom,-13474.79
9107,C537651,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:49:00,13541.33,NaN,United Kingdom,-13541.33
9110,C537630,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:04:00,13541.33,NaN,United Kingdom,-13541.33
8544,C540118,AMAZONFEE,AMAZON FEE,-1,2011-01-05 09:57:00,16453.71,NaN,United Kingdom,-16453.71
8545,C540117,AMAZONFEE,AMAZON FEE,-1,2011-01-05 09:55:00,16888.02,NaN,United Kingdom,-16888.02
225,C580605,AMAZONFEE,AMAZON FEE,-1,2011-12-05 11:36:00,17836.46,NaN,United Kingdom,-17836.46
5273,C556445,M,Manual,-1,2011-06-10 15:31:00,38970.00,15098.0,United Kingdom,-38970.00
8248,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,-77183.60
6,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,-168469.60